@font-face {
    font-family: AudiType;
    src: url("../font/AudiType.otf") format("opentype");
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: AudiType, Arial, Helvetica, sans-serif;
}
/* .font{
    font-family: Arial, Helvetica, sans-serif;
} */
#header{
    width: 100%;
    height: 100vh;
}
.navigation{
    width: 100%;
    display: flex;
    align-items: center;
    /* height: 6vh; */
    background: #fff;
}
.navigation nav{
    width: 90%; 
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 0;
    /* border-bottom: 2px solid #000; */
}
/* .navigation nav span{
    float: right; 
    align-self: flex-end;
} */
.navigation img{
    width: 80px;
    height: 30px;
    flex: 1;
    /* padding: 10px 0 0 10px; */
}
.navigation ul{
    margin: 0px;
    display: flex;
    align-items: center;
    flex: 10;
    justify-content: space-around;
}
.navigation ul li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    /* padding: 20px 0 0 30px; */
    margin: 0;
}
.navigation ul li:hover{
    color: lightslategray;
    cursor: pointer;
}
.navigation span{
    float: right;
    font-size: 30px;
}
.home{
    background: url("../images/header.jpg") center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.home h1{
    font-size: 50px;
    margin: 0;
    padding: 30px 0 0 30px;
}
.home h3{
    padding: 30px 0 0 30px;
    margin: 0px;   
}
.button{
    margin: 30px 0 0 30px;
    
}
.home .button1{
    padding: 20px 80px;
    background: #fff;
    color: #000;
    border: none;
    font-size: 16px;
    font-weight: 100;
}
.home .button2{
    padding: 18px 80px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
}
.button1:hover{
    color: #fff;
    background: lightgrey;
}
.button2:hover{
    color: #000;
    background: #fff;
}
.models{
    /* width: 95%; */
    /* margin: 0 auto; */
    padding: 20px 20px;
    position: relative;
}
.showcase h2{
    display: inline-block;
}
.showcase{
    margin-bottom: 40px;
}

.models .btn{
    position: absolute;
    top: 60px;
    background: transparent;
    border: none;
    font-size: 30px
    /* padding: 0px; */
}


.images, .images-body{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: no-wrap;
    flex: 1 1 1 1;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.img{
    display: flex;
    flex-direction: column;
    position: relative;
    
    /* border: 2px solid red; */
    text-align: center;
    width: 20%;
    transition: all 0.3s ease-in-out;
}

.img h3{
    margin: 10px;
}
/* .img > img{
    /* width: 50%; 
} */

.prev-btn{
    left: 1.5rem;
}
.next-btn{
    right: 1.5rem;
}
.prev-body-btn{
    left: 1.5rem;
}
.next-body-btn{
    right: 1.5rem;
}

.slide{
    transform: translateX(-300px)
}
.slide2{
    transform: translateX(-600px)
}

.all-types{
    /* opacity: 0; */
    display: none;
    /* position: relative; */
}
.all-models{
     display: none;
}
 .show-tab{
     display: block;
 }

.section{
    width: 100%;
    height: 70vh;
    background: url('../images/etron-GT.jpg') center center fixed;
    background-size: cover;
    /* background-size: 100% 110%, cover;  */
    background-repeat: no-repeat;
    color: #fff;
    float: right;
}
.section h1{
    font-size: 50px;
    padding: 30px 0 0 30px;
}
.section p{
    margin: 0 0 0 30px;
    /* padding: 0 0 0 30px;    */
}
/* .button{
    margin: 30px 0 0 30px;
    
} */
.section .button1{
    padding: 20px 80px;
    background: #fff;
    color: #000;
    border: none;
    font-size: 16px;
    font-weight: 100;
}
/* .section h1, h3, div{
    float: right;
} */
.models h2{
    font-weight: 100;
    padding: 10px;
}
.underline{
    border-bottom: 2px solid #000;
}


.extra{
    width: 100%;
    height: 30vh;
    background: cornflowerblue;
}
.teaser{
    display: flex;
    height: 80vh;
    width: 100%;
}
.a4{
    background: url('../images/Aa4.jpg');
    width: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    color: #fff;
    position: relative;
}
.a5{
    background: url('../images/Aa5.jpg');
    width: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    color: #fff;
    position: relative;
}
.a4 h1, .black h1{
    width: 80%;
    margin: 0 auto;
}
.a4 h3, .black h3{
    width: 80%;
    margin: 0 auto;
}

.a5 h1, h3{
    width: 90%;
    margin: 0 auto;
}
.a4 h1, .a5 h1, .black h1{
    font-size: 40px;
    margin-top: 20px;
}
.a4 h3, .a5 h3, .black h3{
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
}
.a4 button, .a5 button, .black button{
    position: absolute;
    bottom: 10%;
    padding: 20px 80px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
}
.a4 button, .black button{
    left: 10%;
}
.a5 button{
    left: 5%;
}
.your_audi{
    width: 100%;
    height: 60vh;
}
.content{
    width: 90%;
    margin: 0 auto;
}
.views{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.views p{
    font-size: 20px;
}
.back img, .front img, .whole img{
    width: 100%;
}
.location{
    width: 100%;
    height: 80vh;
    color: #fff;
    display: flex;
}
.lights{
    width: 65%;
}
.lights img{
    width: 100%;
    height: 100%;
}
.black{
    width: 35%;
    background: #000;
    position: relative;
}
.footer{
    display: flex;
    width: 100%;
    background: lightgray;
    font-size: 20px;
    height: 50vh;
}
.footer ul li{
    list-style-type: none;
    padding: 10px;
}
.footer ul li:nth-child(1){
    font-size: 24px;
    color: grey;
    font-weight: 200;
}
.text{
    width: 100%;
    height: 30vh;
    color: #fff;
    background: #666;
    line-height: 1.5;
    margin: 0;
}
.text p{
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    padding: 5px;
}