@use '../utils/' as utils;
.progress{
    width: 100%;
    background: #ffffff;

    &__container{
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        // justify-content: center;
        // align-items: center;
        padding-top: 100px;

        @include utils.breakpoints-up(large){
            padding-right: 0;
        padding-left: 0;
        }
        
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // z-index: 10;
        padding-bottom: 2.5rem;

        h2{
            font-size: 2.25rem;
            text-align: center;
            font-weight: 400px;
            letter-spacing: 2px;
        }

        .progress__btn{
            width: 100%;
            display: flex;
            flex-direction: column;
            // padding: 10px;
            // justify-content: space-around;
            @include utils.breakpoints-up(medium){
                flex-direction: row;
                width: 80%;
            }
        }
        .progress__btn button{
            // display: block;
            // align-self: center;
            // width: 30%;
            // flex: 1;
            
            padding: 1rem 2.2rem;
            background-color: transparent;
            border: 1px solid #000;
            font-size: 1rem;
            line-height: 24px;

            @include utils.breakpoints-up(medium){
                width: 100%;
            }
        }

        .progress__btn .btn-dark{
            background: #000;
            color: white;
            margin-bottom: 1rem;
            @include utils.breakpoints-up(medium){
                margin: 0 1rem 0 0;
            }
        }
        .progress__btn .btn-light{
            background: #ffffff;
            color: #000;
            @include utils.breakpoints-up(medium){
                // margin: 0 0 0 1rem;
            }
        }
    }

    &__img{
        height: 120vh;
        width: 100%;
        background-image: url('/images/electric2.jpg');
        background-attachment: fixed;
        background-size: 120% ;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // z-index: 1;
    }

    &__float{
        width: 85%;
        background: #ffffff;
        color: #000;
        padding: 2.25rem;
        position: absolute;
        top: 100px;
        z-index: 1;

        @include utils.breakpoints-up(large){
            width: 70%;
            left: 2.5rem;
            background: rgb(228, 6, 6);
        }

        @include utils.breakpoints-up(medium){
            width: 70%;
            left: 2.5rem;
            background: rgb(6, 195, 228);
        }
        h2{
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
            line-height: 24px;
        }

        button{
            padding: 1rem 2rem;
            font-size: 1rem;
            line-height: 24px;
            background: #000;
            border: none;
            color: #fff;
        }
    }
}