@use "../../utils" as utils;
.vision{
    width: 100%;
    // height: 80vh;
    background: #ffffff;

    &__container{
        display: flex;
        flex-direction: column;
        padding-top: 200px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        @include utils.breakpoints-up(medium) {
    // background: rgb(0, 127, 0);
        flex-direction: row;
        // padding-right: 0;
        // padding-left: 0;
    }
        @include utils.breakpoints-up(large) {
    // background: rgb(0, 15, 127);
    padding-right: 0;
        padding-left: 0;
    }
    }

    &__img{
        width: 100%;

            @include utils.breakpoints-up(medium) {
    // background: rgb(0, 127, 0);
        // flex-direction: row;
        flex: 1;
        margin-right: 2rem;
        padding: 0;
    }

        img{
            width: 100%;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;

            @include utils.breakpoints-up(medium) {
    // background: rgb(0, 127, 0);
        // flex-direction: row;
        flex: 1;
        align-items: left;
        justify-content: center;
    }
        h2{
            font-size: 1.75rem;
            font-weight: 400;
            // font-stretch: 130%;
            letter-spacing: 3px;
        }

        button{
            width: 70%;
            padding: 1rem 2rem;
            background: #000;
            color: #ffffff;
            border: none;
            font-size: 1rem;
            @include utils.breakpoints-up(medium) {
    width: 100%;
    }
        }

        .btn{
            // display: block;
            // align-self: center;
            width: 50%;
            padding: 1rem 2rem;
            background-color: transparent;
            border: 1px solid #000;
            font-size: 1rem;
            line-height: 24px;
        }

        .btn-dark{
            background: #000;
            color: white;
            margin-bottom: 1rem;
        }
        .btn-light{
            // background: #000;
            color: #000;
            width: 70%;
        }
    }


}